<nav class="navbar navbar-default">
	<div class="container-fluid bg-primary">
		<div class="navbar-header">
			<div class="btn btn-sm navbar-btn pull-left">
				<img src="./assets/logo-almundo.svg">
			</div>

		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar"  style="height: 50px;">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			</button>
		</div>

	    <div class="collapse navbar-collapse" id="navBar">
			<ul class="nav navbar-nav navbar-right">
				<div class="btn btn-sm navbar-btn" style="line-height: 50px;">Ingresar</div>
				<div class="btn btn-sm navbar-btn" style="line-height: 50px;">Club Almundo</div>
				<div class="btn btn-sm navbar-btn" style="line-height: 50px;">Sucursales</div>
				<div class="btn btn-sm navbar-btn" style="line-height: 50px;">llamanos</div>
				<div class="btn btn-sm navbar-btn" style="line-height: 50px;">ayuda</div>      
			</ul>
	    </div>
	</div>
</nav>
<nav class="collapse navbar navbar-collapse" style="padding: 0">
	<div class="container-fluid bg-info" id="subBar">
		<ul class="nav navbar-nav navbar-center">
			<div class="btn btn-sm navbar-btn">Hoteles</div>
			<div class="btn btn-sm navbar-btn">Vuelos</div>
			<div class="btn btn-sm navbar-btn">Vuelo + Hotel</div>
			<div class="btn btn-sm navbar-btn">Paquetes</div>
			<div class="btn btn-sm navbar-btn">Disney</div>
			<div class="btn btn-sm navbar-btn">Escapadas</div>
			<div class="btn btn-sm navbar-btn">Seguros</div>
			<div class="btn btn-sm navbar-btn">Autos</div>
			<div class="btn btn-sm navbar-btn">Cruceros</div>
			<div class="btn btn-sm navbar-btn">OFERTAS</div>
			<div class="btn btn-sm navbar-btn">Mas</div>
		</ul>
    </div>
</nav>
