<div class="row form-group filter-component">
    <div class="col-sm-12">
        <label>
            <i class="fa fa-search" aria-hidden="true"></i>
        <strong>
            Nombre del hotel
        </strong>
        <br/>
        </label>
        <div class="input-group">
            <input ng-model="filter.params.name" type="text" class="form-control" placeholder="Name">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Aceptar</button>
            </span>
        </div>
    </div>
</div>

<div class="row form-group filter-component">
    <div class="col-sm-12">
        <label>
            <i class="fa fa-search" aria-hidden="true"></i>
            <strong>
    			Precio por noche
    		</strong>
            <br/>
        </label>
        <slider ng-model="filter.params.price" range="true" min="0" step="1" max="3000"></slider>
    </div>
</div>

<div class="row form-group filter-component">
    <div class="col-sm-12">
        <label>
            <i class="fa fa-search" aria-hidden="true"></i>
            <strong>
                Estrellas
            </strong>
            <br/>
        </label>

        <div class="input-group" ng-repeat="star in stars">
            <label>
                <input
                type="checkbox"
                name="selectedStars"
                value="{{star.quantity}}"
                ng-checked="star.selected"
                ng-click="toggleSelection(star)">

                <span ng-show="star.quantity === undefined">Todas las estrellas</span>

                <i class="fa fa-star" aria-hidden="true" ng-show="star.quantity >= 5"></i>
                <i class="fa fa-star" aria-hidden="true" ng-show="star.quantity >= 4"></i>
                <i class="fa fa-star" aria-hidden="true" ng-show="star.quantity >= 3"></i>
                <i class="fa fa-star" aria-hidden="true" ng-show="star.quantity >= 2"></i>
                <i class="fa fa-star" aria-hidden="true" ng-show="star.quantity >= 1"></i>
            </label>
            </br>
        </div>
    </div>
</div>
