<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4">
			<div class="container-fluid visible-sm visible-xs visible-md" >
				<div class="row form-group filter-component" style="text-align: center">
					Filtrar busqueda 
					<input class="css-checkbox" id="toggle" type="checkbox" data-toggle="collapse" data-target="#FilterTools">
	 				<label for="toggle" class="css-label">
	    				<span class="glyphicon glyphicon-arrow-left"></span>
	    				<span class="glyphicon glyphicon-arrow-down"></span>
	  				</label>
  				</div>
 			</div>

			<div class="container-fluid hidden-sm hidden-xs hidden-md FilterTools" id="FilterTools">
				<filter params="filterParams">
				</filter>
			</div>
		</div>
		<div class="col-lg-8">
			<hotel-list params="filterParams" hotels="hotels">
			</hotel-list>
		</div>
	</div>
</div>