<!doctype html>
<html ng-app="app">

  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="robots" content="noindex">
    <meta name="theme-color" content="#EE3268">
    <link rel="manifest" href="manifest.json">
  </head>

  <body style="background-color: #D3D3D3"> <!-- ng-strict-di -->
    <div class="container-fluid">
      <div class="row">
        <app-header></app-header>
      </div>
      <div class="row">
        <div id="app-wrapper" ui-view></div>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('service-worker.js').then(function(registration) {
          // Registration was successful
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }).catch(function(err) {
          // registration failed :(
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
  </script>
</html>