.navbar {
    margin-bottom: 0;
}

.navbar-center
{
    width: 100%;
    left: 0;
    text-align: center;
}

.filter-component
{
	padding: 5px;
	margin: 5px;
  margpaddingin-right: 0px;
	background-color: #FFFFFF;
}

.hotel-item-component
{
  padding: 5px;
  margin: 5px;
  padding-left: 0px;
  background-color: #FFFFFF;
}

.hotel-item-component-payingInfo
{
  text-align:center;
  vertical-align: middle;
  display: inline-block;
}

#FilterTools.in,
#FilterTools.collapsing {
    display: block!important;
}

@media screen and (min-width:1200px) { 
	#FilterTools{ display: block!important; visibility:visible!important; } 
}

.css-label {
  cursor: pointer;
}
.css-checkbox {
  display: none;
}
.glyphicon-arrow-down {
  display: none;
}
.css-checkbox:checked + .css-label .glyphicon-arrow-down {
  display: inline;
}
.css-checkbox:checked + .css-label .glyphicon-arrow-left {
  display: none;
}