<div class="row form-group hotel-item-component">
	<div class="col-xs-4">
		<img src="http://localhost:3000/{{hotelItem.hotel.picture}}"
		style="max-width:100%;max-height:100%;">
	</div>
	<div class="col-xs-4">
		<span style="color:#808080;"><b>{{hotelItem.hotel.name}}</b></span><br/>
		<span style="color:#ecf400;">
			<i class="fa fa-star" aria-hidden="true" ng-show="hotelItem.hotel.stars >= 5"></i>
			<i class="fa fa-star" aria-hidden="true" ng-show="hotelItem.hotel.stars >= 4"></i>
			<i class="fa fa-star" aria-hidden="true" ng-show="hotelItem.hotel.stars >= 3"></i>
			<i class="fa fa-star" aria-hidden="true" ng-show="hotelItem.hotel.stars >= 2"></i>
			<i class="fa fa-star" aria-hidden="true" ng-show="hotelItem.hotel.stars >= 1"></i>
		</span><br/>
		<span style="color:#ff9000;">
			<i class="fa fa-bed" aria-hidden="true"></i> <b>solo la habitacion</b>
		</span><br/>
	</div>
	<div class="col-xs-4 hotel-item-component-payingInfo">
		<i style="color: #808080;">precio por noche por habitacion</i><br/>
		<span style="color:#ff9000;font-size: x-large"><b>ARS {{hotelItem.hotel.price}}</b></span><br/>
		<i style="color: #808080;">Impuestos y tasas no incluidos</i><br/>
		<button class="btn btn-primary">ver hotel</button><br/>
		<span style="color: #444444;"><b>Paga en cuotas</b></span><br/>
		<span style="color: #444444;"><b>Paga en destino</b></span>
	</div>
</div>